.detail_information-manual {
    padding: 0 32px 180px;
    background-color: #201F2E;
  }
  .detail_information-manual_title {
    font-style: normal;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 18px;
  }
  .detail_information-manual_instruction {
    font-weight: 600;
    list-style-type: none;
    margin-top: 0;
    color: #c4c1cf;

  }