.button-back {
    width: 64px;
    height: 64px;
    position: fixed;
    background: #44414e;
    margin-top: 32px;
    margin-left: 33px;
    border-radius: 16px;
    z-index: 2;
    border-color: transparent;
}

.button__back button {
    padding: 20px 25px;
    width: 100%;
    border: 0;
    background: transparent;
    border-color: transparent;
  }